<h1>{{name}}</h1>
{{ updateData  | json }}
<h2>Steckbrief</h2>

<p>Für eine reibungslose Geburt sind verschiedene geburtsmechanische Faktoren relevant. Der kindliche Kopf muss sich während der Geburt den anatomischen Gegebenheiten des knöchernen Geburtskanals (querovaler Eingang, längsovaler Ausgang) anpassen. Zum einen erfolgt dies durch genau abgestimmte Rotationsbewegungen während des Tiefertretens im kleinen Becken. Zum anderen sind die Schädelknochen aufgrund der noch bindegewebigen Suturae verschieblich.
</p>
<p>Die Geburt gliedert sich in 3 Phasen:</p>
<ul>
  <li>Eröffnungsphase: beginnt mit den Eröffnungswehen und endet mit der vollständigen Eröffnung des Muttermundes.</li>
  <li>Austreibungsphase: erstreckt sich vom Zeitpunkt der vollständigen Eröffnung des Muttermundes bis zur Geburt des Kindes.</li>
  <li>Nachgeburtsphase: beginnt nach der Geburt des Kindes und endet mit dem Ausstoßen der Plazenta und der Eihäute</li>
</ul>
