body {
    display: flex;
    flex-direction: column;
}

.flex-container {
  /* We first create a flex layout context */
  display: flex;
  flex-direction: row;
  height: 100vh;
  justify-content: space-around;
}

.flex-item {
    flex: 1;
    margin: 10px;
    padding: 10px;
    background-color: green;
    overflow: scroll;
}

.color {
  background-color: papayawhip;
}

.flex-item > div {
    padding: 10px;

}
